@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */
.Header-Content .max-width{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 6px #888888
}
.Header-Content .max-width .left-side{
    display: flex;
    justify-content: space-between;
    width: 24%;
    padding: 20px 15px 7px 20px;
    background-color: #F1FAF0;
}
.Header-Content .max-width .left-side .user-img img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
}
.Header-Content .max-width .left-side .user-info{
    text-align: right;
}
.Header-Content .max-width .left-side .user-info .material-icons{
    font-size: 30px;
}
.Header-Content .max-width .left-side .user-info .name{
    font-size: 20px;
    font-weight: 500;
}
.Header-Content .max-width .right-side{
    color: #fff;
    width: 74%;
    padding: 50px 20px 0px 20px;
    background-color: #333;
}
.Header-Content .max-width .right-side .today{
    font-size: 22px;
    font-weight: 500;
}
.Header-Content .max-width .right-side span{
    font-size: 20px;
    font-weight: 300;
}

/* Section Styling */
.Section-Content .max-width{
    display: flex;
}
.Section-Content .max-width .left-column{
    flex-direction: column;
    background-color: #f1faf0e1;
    width: 351px;
    height: 559px;
}
.Section-Content .max-width .left-column ul{
    padding: 20px 15px 7px 20px;
}
.Section-Content .max-width .left-column ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 20px;
}

.Section-Content .max-width .right-column{
    width: 925px;
    
}