@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

/* Header */
.Header-Content .max-width{
    height: 15vh;
    display: flex;
    background-color: #F71735;
}
.Header-Content .max-width .left-side{
    display: flex;
    justify-content: space-between;
    width: 30%;
    background-color: #eeeeee;
}
.Header-Content .max-width .left-side .user-img img{
    margin: 10px 15px;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    box-shadow: 0px 5px 6px #777777
}
.Header-Content .max-width .left-side .user-info{
    margin: 10px 15px;
    text-align: right;
}
.Header-Content .max-width .left-side .user-info .material-icons{
    font-size: 30px;
    cursor: pointer;
}
.Header-Content .max-width .left-side .user-info .name{
    font-size: 20px;
    font-weight: 500;
}
.Header-Content .max-width .right-side{
    color: #fff;
    width: 70%;
    background-color: #333;
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(64,64,64,1) 100%);
}
.Header-Content .max-width .right-side .today{
    padding: 40px 20px 0px 20px;
    font-size: 22px;
    font-weight: 500;
}
.Header-Content .max-width .right-side span{
    padding: 30px 20px 0px 20px;
    font-size: 20px;
    font-weight: 300;
}

/* Section Styling */

.Section-Content .max-width{
    display: none;
    height: 85vh;
}
.Section-Content .max-width .left-column{
    flex-direction: column;
    background-color: #f1faf0e1;
    width: 30%;
    height: 85vh;
}
.Section-Content .max-width .left-column ul{
    padding: 5px 5px 0px 5px;
}
.Section-Content .max-width .left-column ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 15px 15px;
    border-radius: 4px;
    box-shadow: 0px 3px 5px #6b6b6b;
    cursor: pointer;
    transition: 0.2s ease all;
}
.Section-Content .max-width .left-column ul li:hover{
    transform: scale(1.03);
}
.Section-Content .max-width .left-column ul li i{
    font-size: 30px;
    width: 30px;
}
.Section-Content .max-width .left-column ul li h3{
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    width: 50%;
}
.Section-Content .max-width .left-column ul li p{
    font-size: 16px;
    font-weight: 500;
}
.Section-Content .max-width .left-column ul li #sort-lists{
    font-size: 20px;
}
.Section-Content .max-width .left-column ul .faculdade{
    background-color: #FF9F1C;
    background: linear-gradient(90deg, rgba(255,159,28,1) 17%, rgba(255,192,17,1) 100%);
    
}
.Section-Content .max-width .left-column ul .trabalho{
    background-color: #F71735;
    background: linear-gradient(90deg, rgba(247,23,23,1) 17%, rgba(247,60,23,1) 100%);
}
.Section-Content .max-width .left-column ul .pessoal{
    background: rgb(2,159,90);
    background: linear-gradient(90deg, rgba(2,159,90,1) 0%, rgba(3,171,97,1) 100%);     
}
.Section-Content .max-width .left-column ul .react-Native{
    background-color: #4464AD;
    background: linear-gradient(90deg, rgba(45,96,209,1) 0%, rgba(51,105,224,1) 100%);
}
.Section-Content .max-width .left-column .new-list {
    display: flex;
    justify-content: flex-end;
    margin: 120px 20px;
}
.Section-Content .max-width .left-column .new-list .add-List{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    background-color: #e0e0e09d;
    box-shadow: 0px 3px 5px #6b6b6b;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.Section-Content .max-width .left-column .add-List:hover{
    transform: scale(1.09);
}
.Section-Content .max-width .left-column .add-List p{
    font-size: 16px;
    padding: 10px 10px;
}
.Section-Content .max-width .left-column .add-List i{
    margin-right: 10px;
    font-size: 30px;
    border: 2px solid #333;
    border-radius: 50%;
}

.Section-Content .max-width .right-column {
    width: 70%;
    height: 85vh;
}
.Section-Content .max-width .right-column .max-width{
    flex-direction: column;
    height: 83vh;
    padding: 10px 20px 0px 20px;
}

.Section-Content .max-width .right-column .max-width .tasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 80px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 6px;
    box-shadow: 0px 3px 5px #6b6b6b;
    cursor: pointer;
}
.Section-Content .max-width .right-column .max-width .tasks #radio{
    font-size: 25px;
    padding: 0px 20px 0px 20px;
}
.Section-Content .max-width .right-column .max-width .tasks .timer{
    display: flex;
    align-items: center;
}
.Section-Content .max-width .right-column .max-width .tasks .timer span{
    text-align: right;
    font-weight: 500;
    width: 100px;
}
.Section-Content .max-width .right-column .max-width .tasks .timer #timer{
    font-size: 27px;
    padding: 0px 20px 0px 20px;
    transition: all 0.2s ease;
}
.Section-Content .max-width .right-column .max-width .tasks #timer:hover{
    transform: scale(1.3);
    color: #04a05a;
}
.Section-Content .max-width .right-column .max-width .tasks .task{
    width: 90%;
}
.Section-Content .max-width .right-column .max-width .tasks .task h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.Section-Content .max-width .right-column .max-width .tasks .task .info{
    display: flex;
    align-items: center;
}
.Section-Content .max-width .right-column .max-width .tasks .task .info .list{
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-radius: 6px;
}
.Section-Content .max-width .right-column .max-width .tasks .task .info .list span{
    color: black;
}
.Section-Content .max-width .right-column .max-width .tasks .task .info #Faculdade{
    background-color: #FF9F1C;
    background: linear-gradient(90deg, rgba(255,159,28,1) 17%, rgba(255,192,17,1) 100%);
    
}
.Section-Content .max-width .right-column .max-width .tasks .task .info #Trabalho{
    background-color: #F71735;
    background: linear-gradient(90deg, rgba(247,23,23,1) 17%, rgba(247,60,23,1) 100%);
}
.Section-Content .max-width .right-column .max-width .tasks .task .info #Pessoal{
    background: rgb(2,159,90);
    background: linear-gradient(90deg, rgba(2,159,90,1) 0%, rgba(3,171,97,1) 100%);  
}
.Section-Content .max-width .right-column .max-width .tasks .task .info #React-Native{
    background-color: #4464AD;
    background: linear-gradient(90deg, rgba(45,96,209,1) 0%, rgba(51,105,224,1) 100%);
}
.Section-Content .max-width .right-column .max-width .tasks .task .info i{
    font-size: 20px;
    margin-right: 3px;
    color: #111;
}
.Section-Content .max-width .right-column .max-width .tasks .task .info span{
    font-size: 15px;
    color: #333;
}
.Section-Content .max-width .right-column .max-width .tasks .task .info p{
    margin-right: 10px;
    margin-left: 10px;
}
.Section-Content .buttons{
    position: fixed;
    top: 80%;
    left: 88%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.Section-Content .agenda i{
    padding: 10px;
    margin-right: 10px;
    font-size: 35px;
    color: #fff;
    background-color: #05b968;
    border-radius: 50%;
    box-shadow: 0px 3px 5px #6b6b6b;
    cursor: pointer;
    transition: 0.2s ease all;
}
.Section-Content .agenda i:hover{
    transform: scale(1.1);
}
.Section-Content .add-task i{
    font-size: 35px;
    padding: 10px;
    color: #fff;
    background-color: #05b968;
    border-radius: 50%;
    box-shadow: 0px 3px 5px #6b6b6b;
    cursor: pointer;
    transition: 0.2s ease all;
}
.Section-Content .add-task i:hover{
    transform: scale(1.1);
}

/* Countdown Styling */

.Section-Content .countdown{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85vh;
    margin: 0;
    padding: 0px;
    background-color: #43B05C;
}
.Section-Content .countdown .pomodoro-task{
    display: flex;
    flex-direction: column;
}
.Section-Content .countdown .pomodoro-task h2{
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}
.Section-Content .countdown .pomodoro-task .pomodoro-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    
}
.Section-Content .countdown .pomodoro-task .pomodoro-list i{
    font-size: 50px;
    margin: 0 5px;
}
.Section-Content .countdown .pomodoro-task .pomodoro-list span{
    font-size: 30px;
    font-weight: 500;
}
.Section-Content .countdown .timer-countdown{
    margin: 50px 0;
}
.Section-Content .countdown .timer-countdown span{
    font-size: 90px;
    color: #fff;
    text-shadow: 1px 2px 1px #333;
}
.Section-Content .countdown button{
    color: #43B05C;
    font-size: 25px;
    padding: 15px 65px;
    margin: 20px 0;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 3px 3px #333;
    transition: all 0.3s ease;
    cursor: pointer;
}
.Section-Content .countdown button:hover{
    transform: scale(1.1);
    color: #fff;
    background-color: #43B05C;
}
.Section-Content .countdown .buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 350px 80px 0 0;
}
.Section-Content .countdown .buttons #song{
    font-size: 27px;
    background-color: rgb(233, 178, 27);
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 1px 3px 2px #555;
    transition: all 0.2s ease;
}
.Section-Content .countdown .buttons #song:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.Section-Content .countdown .buttons #close{
    font-size: 27px;
    color: #fff;
    background-color: rgb(233, 27, 27);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 1px 3px 2px #555;
    transition: all 0.2s ease;
}
.Section-Content .countdown .buttons #close:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* Form Styling */

.Section-Content .form{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 400px;
    background-color: rgb(247, 247, 247);
    border: 1px solid #8888;
    border-radius: 6px;
    box-shadow: 0px 5px 10px #555;
}
.Section-Content .form fieldset{
    border: none;
}
.Section-Content .form fieldset legend{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.Section-Content .form fieldset .inputUser{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    font-size: 16px;
}
.Section-Content .form fieldset input {
    padding-left: 10px;
}
.Section-Content .form fieldset #description textarea{
    resize: none;
}
.Section-Content .form fieldset .inputBox ::placeholder{
    padding-left: 5px;
}
.Section-Content .form fieldset .inputBox .label-input{
    pointer-events: none;
    transition: all 0.3s ease;
}
.Section-Content .form fieldset #new-task{
    display: flex;
    margin-bottom: -5px;
}
.Section-Content .form fieldset #new-task #icon i{
    font-size: 25px;
    padding-left: 5px;
    cursor: pointer;
}
.Section-Content .form fieldset #new-step{
    display: flex;
    width: 60%;
}
.Section-Content .form fieldset #new-step #icon i{
    font-size: 22px;
    padding-right: 7px;
    cursor: pointer;
}
.Section-Content .form fieldset #new-step ::placeholder{
    font-size: 14px;
}
.Section-Content .form fieldset #select{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.Section-Content .form fieldset #select option{
    text-align: center;
}
.Section-Content .form fieldset #select #list,
.Section-Content .form fieldset #select #repeat{
    cursor: pointer;
}
.Section-Content .form fieldset .inputBox #description{
    border: 1px solid #444;
    border-radius: 6px;
}
.Section-Content .form fieldset #description ::placeholder{
    padding: 5px 0 0 8px;
}
.Section-Content .form fieldset #agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1e6ff0d8;
    border-radius: 5px;
    padding: 3px 0;
    margin: 0 10%;
    cursor: pointer;
}
.Section-Content .form fieldset #agenda h4{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.Section-Content .form fieldset #agenda img{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    padding: 2px;
    border-radius: 50%;
}

.Section-Content .form fieldset #timer{
    height: 30px;
    text-align: center;
}
.Section-Content .form fieldset #timer ::placeholder{
    text-align: center;
    align-items: center;
}
.Section-Content .form fieldset .buttons{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.Section-Content .form fieldset .buttons .close{
    font-size: 17px;
    padding: 10px 22px;
    color: red;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 8px;
    cursor: pointer;
}
.Section-Content .form fieldset .buttons .add{
    font-size: 18px;
    padding: 10px 18px;
    color: #fff;
    background-color: #43B05C;
    border: 1px solid #43B05C;
    border-radius: 8px;
    cursor: pointer;
}

/* Calendar*/
.Section-Content .calendar{
    display: flex;
    height: 85vh;
}
.Section-Content .calendar .week{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.Section-Content .calendar .week .weekDay{
    width: 95%;
    padding: 10px 0;
    background-color: #f1faf0e1;
    border: 1px solid #b8b8b8e1;
    border-top: none;
}
.Section-Content .calendar .week .weekDay h3{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.Section-Content .calendar .week .weekDay span{
    font-size: 19px;
}
.Section-Content .calendar .week .weekDay .tasks{
    display: flex;
    align-items: center;
    padding: 7px 5px;
    margin: 7px 3px;
    border-radius: 6px;
    box-shadow: 0px 3px 4px grey;
}
.Section-Content .calendar .week .weekDay .tasks i{
    font-size: 22px;
    padding: 0 1px;
}
.Section-Content .calendar .week .weekDay #faculdade{
    background-color: #FF9F1C;
    background: linear-gradient(90deg, rgba(255,159,28,1) 17%, rgba(255,192,17,1) 100%); 
}
.Section-Content .calendar .week .weekDay #trabalho{
    background-color: #F71735;
    background: linear-gradient(90deg, rgba(247,23,23,1) 17%, rgba(247,60,23,1) 100%);
}
.Section-Content .calendar .week .weekDay #pessoal{
    background: rgb(2,159,90);
    background: linear-gradient(90deg, rgba(2,159,90,1) 0%, rgba(3,171,97,1) 100%);  
}
.Section-Content .calendar .week .weekDay #react-native{
    background-color: #4464AD;
    background: linear-gradient(90deg, rgba(45,96,209,1) 0%, rgba(51,105,224,1) 100%);
}
.Section-Content .calendar .week .weekDay .tasks .task {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100%;
}
.Section-Content .calendar .week .weekDay .tasks .task h4{
    font-size: 14px;
}
.Section-Content .calendar .week .weekDay .tasks .task .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0 0 0;
}
.Section-Content .calendar .week .weekDay .tasks .task .info .list i{
    font-size: 16px;
}
.Section-Content .calendar .week .weekDay .tasks .task .info .list span{
    font-size: 12px;
}
.Section-Content .calendar .week .weekDay .tasks .task .info i{
    font-size: 16px;
}
.Section-Content .calendar .week .weekDay .tasks .task .info span{
    font-size: 12px;
}





@media (max-width: 997px){
    .Header-Content .max-width{
        display: block;
        height: 21.1vh;
    }
    .Header-Content .max-width .left-side{
        width: 100%;
        justify-content: left;
    }
    .Header-Content .max-width .left-side .user-info{
        text-align: left;
        margin: 25px 5px;
    }
    .Header-Content .max-width .left-side .user-info .material-icons{
        display: none;
    }
    .Header-Content .max-width .right-side{
        width: 100%;
        padding-bottom: 12px;
    }
    .Header-Content .max-width .right-side .today{
        padding: 20px 20px 0px 20px;
    }
    .Header-Content .max-width .right-side span{
        padding: 20px 20px 0px 20px;
        margin-bottom: 50px;
    }
    .Section-Content .max-width{
        display: flex;
        height: 74vh;
    }
}